<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brt.oa.customer.dao.CustomerDao">
    <resultMap id="BaseResultMap" type="com.brt.oa.customer.pojo.Customer">
        <result column="id" property="id"/>
        <result column="customer_name" property="customer_name"/>
        <result column="sex" property="sex"/>
        <result column="age" property="age"/>
        <result column="phone" property="phone"/>
        <result column="drainage_channel" property="drainage_channel"/>
        <result column="deal" property="deal"/>
        <result column="storeid" property="storeid"/>
    </resultMap>
    <insert id="createCustomerInfo" parameterType="com.brt.oa.customer.pojo.Customer">
        insert into customer(customer_name, sex, phone, drainage_channel, deal, storeid, age)
        values (#{customer_name}, #{sex}, #{phone}, #{drainage_channel}, #{deal}, #{storeid}, #{age})
    </insert>

    <select id="findCustomer" parameterType="java.lang.Integer" resultType="com.brt.oa.customer.pojo.Customer">
        select *
        from customer where storeid = #{storeid}
        <if test="customer_name != ''">
            and customer_name = #{customer_name}
        </if>
    </select>

    <update id="updateDeal">
        update customer
        set deal = #{deal}
        where id = #{cid};
    </update>

    <select id="findAllCustomer" resultType="com.brt.oa.customer.pojo.Customer">
        select *
        from customer where 1 = 1
        <if test="storeid != 1">
            and storeid = #{storeid}
        </if>
        <if test="customer_name != ''">
            and customer_name = #{customer_name};
        </if>
    </select>

    <select id="findTotal" resultType="java.lang.Integer">
        select count(1)
        from customer where 1 = 1
        <if test="storeid != 1">
            and storeid = #{storeid}
        </if>
    </select>

    <select id="findChannelList" resultType="java.lang.String">
        select distinct drainage_channel
        from customer where 1 = 1
        <if test="storeid != 1">
            and storeid = #{storeid}
        </if>
    </select>

    <select id="findChannelAmount" resultType="java.lang.Integer">
        select count(1)
        from customer where drainage_channel = #{channelname}
        <if test="storeid != 1">
            and storeid = #{storeid}
        </if>
    </select>

    <select id="findChannelDealAmount" resultType="java.lang.Integer">
        select count(1)
        from customer where drainage_channel = #{channelname}
                        and deal = 1
        <if test="storeid != 1">
            and storeid = #{storeid}
        </if>
    </select>
</mapper>