<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.brt.oa.emp.dao.EmpDao">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.brt.oa.emp.pojo.Emp">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="phone" property="phone"/>
        <result column="entry_time" property="entry_time"/>
        <result column="sex" property="sex"/>
        <result column="position_level" property="position_level"/>
        <result column="storeid" property="storeid"/>
        <result column="state" property="state"/>
        <result column="birthday" property="birthday"/>
        <result column="hometown" property="hometown"/>
    </resultMap>

    <sql id="all_column">
        id,
        name,
        phone,
        entry_time,
        sex,
        position_level,
        storeid,
        state,
        birthday,
        hometown
    </sql>

    <!--auto generated Code-->
    <insert id="insertemp">
        INSERT INTO emp
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null">
                id,
            </if>
            <if test="pojo.name != null">
                name,
            </if>
            <if test="pojo.phone != null">
                phone,
            </if>
            <if test="pojo.entry_time != null">
                entry_time,
            </if>
            <if test="pojo.sex != null">
                sex,
            </if>
            <if test="pojo.position_level != null">
                position_level,
            </if>
            <if test="pojo.storeid != null">
                storeid,
            </if>
            <if test="pojo.state != null">
                state,
            </if>
            <if test="pojo.birthday != null">
                birthday,
            </if>
            <if test="pojo.hometown != null">
                hometown,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id != null">
                #{pojo.id},
            </if>
            <if test="pojo.name != null">
                #{pojo.name},
            </if>
            <if test="pojo.phone != null">
                #{pojo.phone},
            </if>
            <if test="pojo.entry_time != null">
                #{pojo.entry_time},
            </if>
            <if test="pojo.sex != null">
                #{pojo.sex},
            </if>
            <if test="pojo.position_level != null">
                #{pojo.position_level},
            </if>
            <if test="pojo.storeid != null">
                #{pojo.storeid},
            </if>
            <if test="pojo.storeid != null">
                #{pojo.state},
            </if>
            <if test="pojo.birthday != null">
                #{pojo.birthday},
            </if>
            <if test="pojo.hometown != null">
                #{pojo.hometown},
            </if>
        </trim>
    </insert>


    <select id="findemp" resultMap="AllColumnMap">
        SELECT
        <include refid="all_column"/>
        FROM emp
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="storeid != null and storeid != 0">
                AND storeid = #{storeid}
            </if>

            and state = 1
            limit #{start},#{size} ;
        </where>
    </select>


    <update id="deleteEmpById">
        update emp
        set state = #{state}
        where id = #{id}
        and state = 1;
    </update>

    <update id="updateEmpById">
        update emp set
        <if test="emp.name != null and emp.name != ''">
            name = #{emp.name},
        </if>
        <if test="emp.phone != null and emp.phone != ''">
            phone = #{emp.phone},
        </if>
        <if test="emp.position_level != null and emp.position_level != ''">
            position_level = #{emp.position_level},
        </if>
        <if test="emp.entry_time != null">
            entry_time = #{emp.entry_time},
        </if>
        <if test="emp.sex != null">
            sex = #{emp.sex},
        </if>
        <if test="emp.storeid != null">
            storeid = #{emp.storeid},
        </if>
        <if test="param1.hometown != null and param1.hometown != ''">
            hometown = #{emp.hometown},
        </if>
        <if test="emp.birthday != null">
            birthday = #{emp.birthday}
        </if>
        where id = #{id}
        and state = 1;
    </update>

    <select id="findTotal" resultType="java.lang.Integer">
        select count(1)
        from emp
        <where>
            <if test="name != null and name != ''">
                 name like concat('%', #{name}, '%')
            </if>
            <if test="storeid != null and storeid != 0">
                and storeid = #{storeid}
            </if>

            and state = 1;
        </where>
    </select>
</mapper>
