<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brt.oa.product.dao.ProductDao">
    <insert id="insertProduct" parameterType="com.brt.oa.product.pojo.Product" >
        insert into product (product_name,inventory,storeid) values
        (#{product_name},#{inventory},#{storeid});
    </insert>

    <select id="findProductByName" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(1) from product where product_name = #{product_name};
    </select>

    <select id="findProductByStoreid" parameterType="java.lang.Integer" resultType="com.brt.oa.product.pojo.Product">
        select * from product where storeid = #{storeid};
    </select>

    <select id="findProduct" parameterType="java.lang.Integer" resultType="com.brt.oa.product.pojo.Product">
        select * from product where storeid = #{storeid};
    </select>
    <select id="findProductInventory" resultType="java.lang.Integer">
        select inventory from product where product_name = #{product_name};
    </select>

    <update id="addInventory" >
        update product set inventory = inventory + #{amount} where product_name = #{product_name};
    </update>

    <update id="reduceInventory" >
        update product set inventory = inventory - #{amount} where product_name = #{product_name};
    </update>


</mapper>