<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brt.oa.record.dao.RecordDao">
    <insert id="insertRecord" parameterType="com.brt.oa.record.pojo.Record">
        insert into record(project_name, project_cost, total_cost, deal_date, product_fee, cid, storeid,state)
        values (#{project_name}, #{project_cost}, #{total_cost}, #{deal_date}, #{product_fee}, #{cid}, #{storeid},#{state});
    </insert>

    <select id="findTurnover" resultType="java.lang.Double">
        select sum(total_cost)
        from record
        <where>
            <if test="storeid != null and storeid != 0">
                and storeid = #{storeid}
            </if>
            and deal_date between #{startTime} and #{endTime} and state =1;
        </where>
    </select>

    <select id="findId" resultType="java.lang.Integer">
        select id
        from record
        where cid = #{cid}
          and deal_date = #{deal_date} and state =1 ;
    </select>
    <select id="findRecord" resultType="com.brt.oa.record.pojo.Record">
        select *
        from record
        <where>
            <if test="storeid != null and storeid != 0">
                storeid = #{storeid}
            </if>
            and state =1
        </where>
        limit #{start},#{size}
    </select>

    <select id="findTotal" resultType="java.lang.Integer">
        select count(1)
        from record
        <where>
            <if test="storeid != null and storeid != 0">
                storeid = #{storeid}
            </if>
            and state =1 ;
        </where>
    </select>

    <update id="deleteRecordById">
        update record set
            <if test="state != null">
                state = #{state}
            </if>
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            and state =1;
        </where>
    </update>
</mapper>