<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brt.oa.user.dao.UserDao">

    <insert id="insertUser" parameterType="com.brt.oa.user.pojo.User">
        insert into user(username,password,jurisdiction,storeid) values (#{username},#{password},#{jurisdiction},#{storeid});
    </insert>

    <select id="duplicateChecking" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(1) from user where  username = #{usernme};
    </select>

    <select id="findUser" parameterType="java.lang.String" resultType="com.brt.oa.user.pojo.User">
        select * from user where  username = #{usernme};
    </select>

    <update id="updatePwd" parameterType="com.brt.oa.user.pojo.User" >
        update user set password = #{password} where username = #{username};
    </update>


</mapper>